* {
    margin:5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#canvas1 {
    margin: 0;
    border:0px solid #000000;
}

.btn{
        display: inline-block;
        vertical-align: top;
        color: "black";
        font-weight: 500;
        font-size: 29px;
        width: 250px;
        border: 0;
        padding: 5px;
        margin: 5px;
        border-radius: 6px;
        cursor: pointer;
    }
    #new-btn{
        background: #abebc6;
    }
    #reset-btn{
        background: #f0b27a;
    }
    #answer-btn{
        background: #f4d03f ;
    }